// 고급스러운 화이트 계열
$white: #fafafa;
$black: #363636;
$gray: #757575;
$bg-main: #eeeff4;
$bg-html: #fabcc0;
$bg-css: #c2cff3;
$bg-js: #f0e5cb;
$bg-ts: #ccdff7;
$bg-vue: #b2eedd;
$bg-react: #caebf0;
$bg-next: #c1c1d6;
$bg-php: #d9c8f5;
$bg-ajax: #c2d4f0;
$bg-gsap: #caeecf;

$color-main: #4265f5;
$color-sub: #748df0;
$color-sub02: #dde1ec;
$color-sub03: #5a7bf0;
$color-sub04: #e5e7ec;
$color-html: #d46a53;
$color-css: #496fd4;
$color-js: #dfc570;
$color-vue: #68b876;
$color-react: #82c3ca;
$color-next: #a0a0b8;
$color-ts: #6a92c4;
$bx-shadow01: 0 2px 12px rgba(0, 0, 0, 0.05);
