@use './abstracts/_variables' as *;
@use './abstracts/_mixins' as *;
@use './abstracts/_functions' as *;

.qna-cont {
  .list-wrap {
    border-radius: rem(10px);
    overflow: hidden;
    box-shadow: $bx-shadow01;

    .list {
      li {
        background-color: $white;
        box-sizing: border-box;
        cursor: pointer;
        border-bottom: 1px solid var(--border-color);
        transition: all 0.2s;
        &:hover {
          .faq {
            color: $color-sub;
          }
        }
        &.active {
          border: 1px solid $color-sub03;
          margin: rem(10px) 0;
          .list-item {
            padding: rem(30px) rem(20px);
          }
          .faq {
            font-size: rem(16px);
            color: $color-sub03;
            svg {
              transform: rotate(180deg);
            }
          }
          .ans {
            display: flex;
            transform: translateY(0);
          }
        }
        &:last-child {
          &.active {
            margin-bottom: 0;
          }
        }
        .list-item {
          padding: rem(20px);
        }
        .faq {
          @include flex-between;
          word-break: keep-all;
          transition: all 0.2s;
          gap: rem(10px);
          svg {
            transition: all 0.2s;
          }
          .txt {
            display: flex;
            gap: 5px;
            animation: fade-up 1s forwards;
            &::before {
              content: 'Q.';
              color: $color-sub03;
            }
          }
        }
        .ans {
          display: flex;
          gap: rem(5px);
          display: none;
          margin-top: rem(10px);
          @include txt-set;
          animation: fade-up 1s forwards;
          &::before {
            content: 'A.';
            color: $color-sub03;
          }
        }
      }
    }
  }
}
